<%- include ("../partials/header") %>

<div class="container">
        <div class="alert alert-info" role="alert">
            Awaiting Admin approval
        </div>
        <div class="row justify-content-center">
            <a class="btn btn-primary" href="/home">Refresh</a>
        </div>          
</div>


<%- include ("../partials/footer") %>